footer {
  width: 100%;
  align-items: center;

  box-sizing: border-box;
  border-style: solid;
  border-color: transparent;
  border-width: 0 15vw;
  padding-top: 1rem;

  background-color: var(--col-background-bright);
}
@media only screen and (max-width: 42rem) and (min-width: 38rem) {
  footer {
    transition: border-width 0.2s ease;
  }
}
@media only screen and (max-width: 40rem) {
  footer {
    border-width: 0 2rem;
  }
}

footer nav {
  display: flex;
  align-items: center;

  gap: 1em;
}
@media only screen and (max-width: 42rem) and (min-width: 38rem) {
  footer nav {
    transition: padding-right 0.2s ease;
  }
}
@media only screen and (max-width: 40rem) {
  footer nav {
    padding-right: 4rem;
  }
}

footer nav img {
  height: 2rem;
}

footer nav a {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  padding: 0 0.5rem;
  cursor: pointer;

  border-radius: 1.5rem;

  background-color: var(--col-background-brightest);

  transition: background-color 0.5s ease;
}

footer nav a:hover {
  background-color: var(--col-accent);
}
footer nav a:active {
  background-color: var(--col-accent-bright);
}

