#scroll-up {
  position: fixed;
  bottom: 2rem;
  right: 2rem;

  width: 2rem;
  height: 3rem;
  padding: 0 0.5rem;

  border-radius: 1.5rem;

  background-color: var(--col-background-brightest);
  opacity: 0;
  pointer-events: none;

  transition-property: background-color, opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease;

  transform: rotate(180deg);
}
#scroll-up.visible {
  opacity: 1;
  cursor: pointer;
  pointer-events: all;
}
#scroll-up:hover {
  background-color: var(--col-accent);
}
#scroll-up:active {
  background-color: var(--col-accent-bright);
}
