code {
  font-family: 'Mononoki', mono !important;
  text-shadow: none !important;
  font-size: 0.9rem;
}

.code-styled {
  border-radius: 1rem;
  border: 1px solid var(--col-background-brightest);
  margin: 0 1rem !important;
}

@media only screen and (max-width: 40rem) {
  code .linenumber {
    display: none !important;
  }
}

