.table-of-contents ul {
  padding-left: 2rem;
}

.table-of-contents li::marker {
  color: var(--col-accent);
  content: '» ';
}

.table-of-contents li li::marker {
  content: '› ';
}

.table-of-contents a {
  color: var(--col-accent-bright);
  text-decoration: none;
}

