@font-face {
  font-family: Mononoki;
  src: url('./assets/fonts/mononoki.ttf');
  font-weight: normal;
}
@font-face {
  font-family: Mononoki;
  src: url('./assets/fonts/mononoki-bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: Jost;
  src: url('./assets/fonts/jost.otf'); font-weight: normal;
}
@font-face {
  font-family: Jost;
  src: url('./assets/fonts/jost-bold.otf');
  font-weight: bold;
}

:root {
  --col-background: #12161e;
  --col-background-bright: #232831;
  --col-background-brightest: #3b4252;
  --col-foreground: #cccccb;
  --col-foreground-bright: #e8e6e3;
  --col-accent: #208e72;
  --col-accent-bright: #59d5b6;
}

body {
  margin: 0;
  font-family: 'Jost', sans;
  font-size: 1.25rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--col-background);
  color: var(--col-foreground);
}

main {
  margin: 0 15vw;
}
@media only screen and (max-width: 42rem) and (min-width: 38rem) {
  main {
    transition: margin 0.2s ease;
  }
}
@media only screen and (max-width: 40rem) {
  main {
    margin: 0 2rem;
  }
}

h2 {
  margin-top: 2rem;
}
h3 {
  margin-top: 0.5rem;
}

:not(pre) > code, kbd {
  background-color: var(--col-background-bright);
  padding: 0 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid var(--col-background-brightest)
}

a {
  color: var(--col-accent-bright);
  text-decoration: none;
}

.sections-lr {
  display: flex;
  justify-content: space-between;
}

