header {
  position: fixed;
  top: 0;

  height: 6rem;
  width: 100%;
  align-items: center;

  box-sizing: border-box;
  border-style: solid;
  border-color: transparent;
  border-width: 0 15vw;

  background-color: var(--col-background-bright);

  z-index: 999;
}
@media only screen and (max-width: 42rem) and (min-width: 38rem) {
  header {
    transition: border-width 0.2s ease;
  }
}
@media only screen and (max-width: 40rem) {
  header {
    border-width: 0 2rem;
  }
}

header h1 {
  color: var(--col-foreground-bright);
}
header h1 .ide {
  color: var(--col-accent-bright);
}

header section, header nav {
  display: flex;
  align-items: center;

  gap: 1em;
}

header .logo img {
  height: 4rem;
}

header nav img {
  height: 2rem;
}

header nav a {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  padding: 0 0.5rem;
  cursor: pointer;

  border-radius: 1.5rem;

  background-color: var(--col-background-brightest);

  transition: background-color 0.5s ease;
}

header nav a:hover {
  background-color: var(--col-accent);
}
header nav a:active {
  background-color: var(--col-accent-bright);
}

header h1 {
  line-height: 1.1em;
}

main {
  margin-top: 6rem;
}

.scroll-anchor {
  pointer-events: none;
  padding-top: 5em;
  margin-top: -5em;
}

.pop-up-table-of-contents {
  position: fixed;
  top: 5rem;
  right: calc(15vw);
  background-color: var(--col-background-bright);
  padding-right: 1rem;
  border-radius: 1rem;
  transition: opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;
}
.pop-up-table-of-contents.visible {
  opacity: 1;
  pointer-events: all;
}
@media only screen and (max-width: 42rem) and (min-width: 38rem) {
  .pop-up-table-of-contents {
    transition: right 0.2s ease;
  }
}
@media only screen and (max-width: 40rem) {
  .pop-up-table-of-contents {
    right: 2rem;
  }
}

